body {
    background-color: lightslategrey;
}
.wrapper {
    width: 60%;
    margin: 0 auto;
    background-color: #ffb3ee;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    
}

h1, h2, h3, p, a {
    font-family: "comic sans", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}