body {
    background-color: lightslategrey;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    
}
header {
    background: darkslategray;
    width: 100%;
    min-height: 100px;
    color: white;
    text-align: center;
}