body {
    background-color: lightslategrey;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    
}

.nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}